
# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Machine Learning Models
# ==============================
models/*.keras
models/*.h5
models/*.hdf5
models/*.pb

# ==============================
# Dataset
# ==============================
dataset/
mudravision_github_workflow.md
mudravision_implementation_plan.md
# ==============================
# Original / downloaded datasets
# ==============================
DataSet/
archive/
*.zip

# ==============================
# Logs / Temporary Files
# ==============================
*.log
*.tmp
*.temp

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Python cache
# ==============================
.pytest_cache/
.mypy_cache/


test_preprocessing.py